@import "./variables.scss";
@import "./mixins.scss";

:root {
    --bg: #0f1724;
    --card: #0b1220;
    --item-bg: rgba(255, 255, 255, 0.04);
    --list-num: rgba(255, 255, 255, 0.05);
    --primary-clr: #a9a9a9;
    --input-border: rgba(255, 255, 255, 0.06);
    --icn-clr: #f0f8ff;
    /* common */
    --accent1: #ff416c;
    --accent2: #ff4b2b;
    /* --muted: rgba(255, 255, 255, 0.65); */
}

[data-theme="light"] {
    --bg: #f7f8fb;
    --card: #fffaf0;
    --item-bg: #ffe4c4;
    --list-num: #ff7f50;
    --primary-clr: #556b2f;
    --input-border: #ffdab9;
    --icn-clr: #d2691e;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--bg);
    font-family: "Lato", sans-serif;
    padding: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    background: linear-gradient(90deg, var(--accent1), var(--accent2));
    color: #fff;
    border: 0;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h1 {
        font-size: 2.4rem;
        margin: 0;
        background: linear-gradient(90deg, var(--accent1), var(--accent2));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent
    }
}