/* ======================
   Toggle Button
   ====================== */
.toggle,
.toggle * {
    -webkit-tap-highlight-color: transparent;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    /* Hide default checkbox */
    input {
        display: none;
    }

    /* Track */
    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background-color: #ccc;
        border-radius: 28px;
        transition: background-color .3s;

        /* Circle */
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 2px;
            left: 3px;
            background-color: white;
            border-radius: 50%;
            transition: transform .3s;
        }
    }

    /* When checked */
    input:checked+.slider {
        background: linear-gradient(90deg, var(--accent1), var(--accent2));
    }

    /* Circle slides */
    input:checked+.slider::before {
        transform: translateX(18px);
    }
}

/* Toggle Button - End*/